table {
    text-align: center;
    margin-left: 200px;
    margin-top: 30px;
    height: 50px;
}

td {
    background-color: beige;
    width: 10px;
}

.name {
    width: 500px;
}

.del {
    width: 100px;
}